<li>
  <span><%= link_to portfolio.title, portfolio_show_path(portfolio) %></span>
  <%= image_tag portfolio.thumb_image %>
  <span><%= portfolio.subtitle %></span>
  <%= link_to "Edit", edit_portfolio_path(portfolio) %>
  <%= link_to "Delete Project",
              portfolio, method: :delete,
              data: { confirm: 'Are you sure?'}
  %>
</li>
