<h1>Portfolio Items</h1>

<%= link_to "Create New Project", new_portfolio_path  %>
<ul>
  <% @portfolio_items.each do |portfolio| %>
    <li>
      <span><%= link_to portfolio.title, portfolio_path(portfolio) %></span>
      <%= image_tag portfolio.thumb_image || 'http://via.placeholder.com/350x150'%>
      <span><%= portfolio.subtitle %></span>
      <%= link_to "Edit", edit_portfolio_path(portfolio) %>
    </li>
  <% end %>
</ul>