<%= image_tag @portfolio_item.main_image || 'http://via.placeholder.com/600x400'%>
<h1><%= @portfolio_item.title %></h1>
<p><em><%= @portfolio_item.subtitle %></em></p>
<p><%= @portfolio_item.body %></p>

<h2>Technologies Used:</h2>
<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>