<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= @seo_keywords %>">
  <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/portfolio_header' %>
  <main role="main">
    <%= render 'shared/portfolios_jumbotron' unless logged_in? :site_admin %>
    <%= yield %>
  </main>
  <%= source_helper params[:controller] %>
  <%= alerts %>
  <%= render'portfolios/portfolio_footer' %>
</body>
</html>
